<div class="music-reel">
  <div class="music-box-container">
    <div *ngFor="let music of musicData" class="music-box-wrapper">
      <app-music-box
        [_id]="music._id"
        [refId]="music.refId"
        [artists]="music.artists ?? undefined"
        [title]="music.name"
        [cover]="music.images?.[0]?.url || '../../../assets/images/no-album-cover.png'"
        [type]="music.type"
        [description]="music.description"
        [releaseDate]="music.releaseDate"
        [songCount]="music.totalTracks"
        [userId]="music.userId ?? undefined"
        [songIds]="music.songIds"
        [songs]="music.songs"
        (onPress)="handleMusicBoxClick()"
      ></app-music-box>
    </div>
  </div>
</div>
