.music-card {
  position: relative;
  width: 168px;
  height: 60px;
  background: #212121;
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cover {
  width: 60px;
  height: 60px;
  border-radius: 20px 0px 0px 20px;
  background-size: cover;
  background-position: center;
}

.title {
  margin-left: 15px;
  width: 82px;
  font-family: "BROmnyMedium";
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
  text-overflow: ellipsis;
}
