<ion-content scroll-y="false">
  <app-search-input
    [width]="'291px'"
    [placeholder]="'Search tracks by genre'"
    [focusInput]="true"
    class="search-input"
    (searchTermChanged)="onSearchTermChanged($event)"
  ></app-search-input>
  <div class="cancel-button" (click)="backClicked()">Cancel</div>
  <div *ngIf="filteredMusic.length > 0" class="sort-dropdown">
    <label>Sort by Release Date:</label>
    <select [(ngModel)]="sortOrder" (change)="applySorting()">
      <option value="recent">Most Recent</option>
      <option value="oldest">Oldest</option>
    </select>
  </div>
  <div *ngIf="filteredMusic.length === 0" class="search-preview">
    <img
      src="../../../../assets/images/green-music.png"
      alt="Music Icon"
      class="music-icon"
    />
    <div class="title">Sync to the beat</div>
    <div class="subtitle">Search tracks from your favorite genres</div>
  </div>
  <app-music-list
    [height]="'600px'"
    *ngIf="filteredMusic.length > 0"
    [musicList]="filteredMusic"
    (onItemPress)="onControlClick($event)"
    (loadMore)="loadMoreTracks()"
  ></app-music-list>
  <ng-template #modalContent>
    <div class="custom-modal-content">
      <app-search-input
        [width]="'350px'"
        [placeholder]="'Search by playlist name'"
        [focusInput]="false"
        class="filter-input"
        (searchTermChanged)="onListSearchTermChanged($event)"
      ></app-search-input>
      <app-list
        [data]="filteredItems"
        (setExternalList)="updateFilteredItems($event)"
      ></app-list>
    </div>
  </ng-template>
  <app-custom-modal
    [visible]="isModalVisible"
    (visibilityChange)="closeModal()"
    [title]="'Add to playlist'"
    [cancelButtonName]="'Cancel'"
    [doneButtonName]="'Done'"
    [cancelButtonAction]="handleCancel.bind(this)"
    [doneButtonAction]="handleDone.bind(this)"
    [modalContent]="modalContent"
  ></app-custom-modal>
</ion-content>
