.artist-list-container {
  position: relative;
  width: 372px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.artist-item {
  margin-bottom: 67px;
}

.artist-item:last-child {
  margin-bottom: 0;
}

.artist-list-container::-webkit-scrollbar {
  display: none;
}

.artist-list-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.artist-list-container {
  -moz-scrollbar-width: none;
  scrollbar-width: none;
}