.music-list-container {
  position: relative;
  width: 372px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.music-item {
  margin-bottom: 67px;
}

.music-item:last-child {
  margin-bottom: 0;
}

.music-list-container::-webkit-scrollbar {
  display: none;
}

.music-list-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.music-list-container {
  -moz-scrollbar-width: none;
  scrollbar-width: none;
}

.see-more {
  display: block;
  align-self: center;
  font-family: "BROmnyMedium";
  font-size: 15px;
}
