<ion-content scroll-y="false">
  <div class="arrow">
    <app-control-button
      source="../../../assets/images/arrow-go-back.png"
      [size]="40"
      (onPress)="goBack()"
    ></app-control-button>
  </div>
  <div class="title">Upload a track</div>
  <div class="subtitle">Get your music heard.</div>
  <div class="captionInput">
    Complete the form with all the details about your track
  </div>
  <div class="dataInput">
    <app-border-input
      [placeholder]="'Enter the track title'"
      [value]="title"
      [fontSize]="14"
      [backgroundColor]="'#212121'"
      [isPassword]="false"
      (valueChange)="updateTitle($event)"
    ></app-border-input>
    <app-border-input
      [placeholder]="'Enter the artists separated by commas'"
      [value]="artists"
      [fontSize]="14"
      [backgroundColor]="'#212121'"
      [isPassword]="false"
      (valueChange)="updateArtists($event)"
    ></app-border-input>
    <app-border-input
      [placeholder]="'Enter the genres separated by commas'"
      [value]="genres"
      [fontSize]="14"
      [backgroundColor]="'#212121'"
      [isPassword]="false"
      (valueChange)="updateGenres($event)"
    ></app-border-input>
  </div>
  <div class="uploadContainer">
    <div class="uploadFile">
      <img
        src="../../../../assets/images/cloud.png"
        alt="Cloud Icon"
        class="cloud-icon"
      />
      <div class="placeholders">
        <div class="defaultTitle" (click)="handleClick()">
          {{ defaultTitle }}
        </div>
        <div class="defaultSubtitle">{{ defaultSubtitle }}</div>
      </div>
      <input
        type="file"
        id="fileInput"
        accept=".mp3"
        (change)="handleFileChange($event)"
        hidden
      />
    </div>
  </div>
  <div class="uploadButton">
    <app-save-button
      title="Upload"
      [width]="350"
      (onPress)="handleSave()"
    ></app-save-button>
  </div>
</ion-content>
