<ion-content scroll-y="false">
  <div class="artist-detail-container">
    <div class="close-button">
      <app-control-button
        source="../../assets/images/left.png"
        alt="Close"
        [size]="24"
        (onPress)="closePage()"
      />
    </div>
    <div
      class="artist-pfp"
      [ngStyle]="{'background-image': 'url(' + artistImage + ')'}"
    ></div>
    <div class="artist-info">
      <div class="artist-name">{{ name }}</div>
      <div class="follower-count">{{ followerCount }} followers</div>
    </div>
    <div class="section-title">Albums</div>
    <div class="music-reel">
      <app-music-reel [musicData]="musicData"></app-music-reel>
    </div>
  </div>
</ion-content>
