<ion-content scroll-y="false">
  <div class="playlist-detail-container">
    <div class="close-button">
      <app-control-button
        source="../../assets/images/left.png"
        alt="Close"
        [size]="24"
        (onPress)="closePage()"
      />
    </div>
    <div class="playlist-cover" [ngStyle]="{'background': playlistCover}">
      <img
        class="cover-icon"
        [src]="type === 'Liked' ? '../../../assets/images/liked-songs.png' : '../../../assets/images/your-songs.png'"
        alt="Icon"
      />
    </div>
    <div class="music-type">
      {{ type === 'Liked' ? 'PLAYLIST' : 'DISCOGRAPHY' }}
    </div>
    <div class="playlist-title">{{ playlistTitle }}</div>
    <div class="user">By {{ user }}</div>
    <div class="playlist-description">{{ description }}</div>
    <div class="buttons-container">
      <app-simple-button
        *ngIf="type === 'Catalog'"
        class="right-button"
        [caption]="rightButtonCaption"
        [source]="rightButtonIcon"
        (onPress)="uploadSongsClick()"
      ></app-simple-button>
    </div>
    <div
      class="songs-container"
      [ngStyle]="{'top': type === 'Liked' ? '215px' : '265px'}"
    >
      <app-music-list
        *ngIf="type === 'Liked'"
        [isPlaylist]="true"
        [height]="'450px'"
        [musicList]="musicItems"
        [showSeeMore]="false"
        (onItemPress)="onItemPlay($event)"
        (onControlButtonClick)="handleItemPress($event)"
      ></app-music-list>
      <app-album-tracklist
        *ngIf="type === 'Catalog'"
        [tracks]="yourTracks"
        [height]="'450px'"
      ></app-album-tracklist>
    </div>
  </div>
</ion-content>
