<ion-content scroll-y="false">
  <app-search-input
    [width]="'291px'"
    [placeholder]="'Search by album'"
    [focusInput]="true"
    class="search-input"
    (searchTermChanged)="onSearchTermChanged($event)"
  ></app-search-input>
  <div class="cancel-button" (click)="backClicked()">Cancel</div>
  <div *ngIf="filteredMusic.length > 0" class="sort-dropdown">
    <label>Sort by Release Date:</label>
    <select [(ngModel)]="sortOrder" (change)="applySorting()">
      <option value="recent">Most Recent</option>
      <option value="oldest">Oldest</option>
    </select>
  </div>
  <div *ngIf="filteredMusic.length === 0" class="search-preview">
    <img
      src="../../../../assets/images/green-music.png"
      alt="Music Icon"
      class="music-icon"
    />
    <div class="title">Sync to the beat</div>
    <div class="subtitle">Search for your favorite albums</div>
  </div>
  <app-music-list
    [height]="'600px'"
    *ngIf="filteredMusic.length > 0"
    [musicList]="filteredMusic"
    (loadMore)="loadMoreAlbums()"
  ></app-music-list>
</ion-content>
