<ion-content scroll-y="false">
  <div class="playlist-detail-container">
    <div class="close-button">
      <app-control-button
        source="../../assets/images/left.png"
        alt="Close"
        [size]="24"
        (onPress)="closePage()"
      />
    </div>
    <div class="delete-button">
      <app-control-button
        source="../../assets/images/delete-playlist.png"
        alt="Close"
        [size]="24"
        (onPress)="deletePlaylist()"
      />
    </div>
    <div
      class="playlist-cover"
      [ngStyle]="{'background-image': 'url(' + playlistCover + ')'}"
    ></div>
    <div class="music-type">PLAYLIST</div>
    <div class="playlist-title">{{ playlistTitle }}</div>
    <div class="user">By {{ user }}</div>
    <div class="playlist-description">{{ description }}</div>
    <div class="buttons-container">
      <app-simple-button
        caption="Play"
        source="../../../assets/images/play.png"
        (onPress)="handlePlayClick()"
      ></app-simple-button>
      <app-simple-button
        caption="Edit"
        source="../../../assets/images/edit-playlist.png"
        (onPress)="openModal()"
      ></app-simple-button>
    </div>
    <div class="songs-container">
      <app-music-list
        [isPlaylist]="true"
        [height]="'450px'"
        [musicList]="musicItems"
        [showSeeMore]="false"
        (onItemPress)="handleItemPress($event)"
      ></app-music-list>
    </div>
  </div>
  <ng-template #modalContent>
    <div class="custom-modal-content">
      <app-simple-input
        placeholder="Title"
        [characterLimit]="50"
        (onChangeText)="handleTitleChange($event)"
      ></app-simple-input>
      <app-simple-input
        placeholder="Description"
        [characterLimit]="50"
        (onChangeText)="handleDescriptionChange($event)"
      ></app-simple-input>
    </div>
  </ng-template>
  <app-custom-modal
    [visible]="isModalVisible"
    (visibilityChange)="closeModal()"
    [title]="'Edit playlist'"
    [cancelButtonName]="'Cancel'"
    [doneButtonName]="'Done'"
    [cancelButtonAction]="handleCancel.bind(this)"
    [doneButtonAction]="handleDone.bind(this)"
    [modalContent]="modalContent"
  ></app-custom-modal>
</ion-content>
