.music-item-container {
  position: absolute;
  width: 372px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cover {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  left: 0;
  top: 0;
}

.song-data {
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  font-family: "BROmnyMedium";
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 2px;
  width: 277px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  white-space: normal;
  text-overflow: ellipsis;
}

.details-container {
  display: flex;
  align-items: center;
}

.explicit-logo {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.type-artists {
  font-family: "BROmnyRegular";
  font-size: 12px;
  color: #a3a3a9;
  width: 257px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: normal;
  text-overflow: ellipsis;
}

.control-button {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 348px;
  top: 15px;
}
