<div class="music-item-container">
  <img [src]="getMusicCover()" alt="Cover" class="cover" />

  <div class="song-data" (click)="handleClick()">
    <div class="title">{{ music.name }}</div>

    <div class="details-container">
      <img
        *ngIf="music.explicit"
        src="../../../assets/images/explicit.png"
        alt="Explicit"
        class="explicit-logo"
      />
      <div
        class="type-artists"
        [ngClass]="{ 'non-explicit-position': !music.explicit }"
      >
        {{ music.type }} • {{ allArtists }}
      </div>
    </div>
  </div>

  <app-control-button
    [source]="getControlButtonIcon()"
    [size]="24"
    (onPress)="onButtonClick()"
    class="control-button"
  >
  </app-control-button>
</div>
